.header {
    background: #333333;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 7rem;
}

.link__box {
    display: flex;
    gap: 1rem;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem
}

@media only screen and (max-width: 840px) {
    .header {
        display: flex;
        flex-direction: column;
        height: max-content;
        padding-bottom: 0.3rem;
    }
}